h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
}

.small_text {
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    width: 715px;
    margin-left: auto;
    margin-right: auto;
}

.large_text {
    font-family: 'EB Garamond', serif;
    font-size: 40;
    width: 715px;
    margin-left: auto;
    margin-right: auto;
}