* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    border: 5px;
    background: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

header {
    width: 95%;
    margin: 0;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

#logo {
    float: left;
    margin-left: 100px;
    width: 100px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-right: 60px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 45px;
    padding-top: 43px;
    position: relative;
}
nav a {
    color: #d77870;
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #d77870;
    position: absolute;
    top: 0;
    transition: all ease-in-out 200ms;
    
}

nav a:hover::before {
    width: 100%;
}

#headerLine {
    background-color: #d77870;
    color: #d77870;
    height: 1px;
    border-width: 0;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.split {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 0px;
    padding-top: 200px;
    
}

@media (min-width: 70em) {
    .split {
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
        
    }
}

.intro {
    padding-top: 90px;
    max-width: 800px;
    min-width: 300px;
}

.largeText {
    font-size: 2.7rem;
    line-height: 1.6;
    color: #d77870
}

.smallText {
    font-size: 1.25rem;
    line-height: 1.6;
}

#description {
    color: rgb(105, 105, 105);
}

#hello {
    color: #000;
}

#professional {
    max-width: 300px;
    display: block;
    border-radius: 5px;
    margin-left: 150px;
    box-shadow: 10px 10px 17px rgba(77, 77, 77, 0.568);
}

#spacing {
    background-color: #d77870;
    color: #d77870;
    height: 1px;
    border-width: 0;
    margin-top: 200px;
    margin-left: 275px;
    margin-right: 275px;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 2.7rem;
}

#aboutmeP {
    padding-top: 100px;
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    max-width: 1000px;
    margin: auto;
    width: 50%;
    color: rgb(105, 105, 105);
    
}

.fun {
    padding-top: 70px;
    color: rgb(105, 105, 105);
}

#aboutLine {
    background-color: #d77870;
    color: #d77870;
    height: 1px;
    border-width: 0;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 600px;
}


.generalPhotos {
    max-width: 400px;
    display: block;
    border-radius: 5px;
    margin-left: 0px;
    box-shadow: 10px 10px 17px rgba(77, 77, 77, 0.568);
}

#colorado {
    padding-top: 150px;   
}

#contactMe {
    margin: 200px;
}

